.main-para{
    font-size: 1.5em;
    line-height: 1.5em;

    /*
    the em at the end of the size means relative to the base font size. ie.. 1.5 x 12 = 18
    */
}

#active {
    background-color: white;
    color: blue;
}

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px, auto;
}

/*
use this for viewing the bounding lines of elements
* {
    border: 3px solid red;
}
*/
a:hover {
    background-color: white;
    color: steelblue;
}

img {
    width: 30%;
}

body {
    text-align: center;
}

span {
    text-align: center;
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

/*
#logo-down {
    display: block;
    width: 80%;
    margin: 0 auto;
    transform: rotateX(180deg);
}
*/


#logo-down {
    display: block;
    width: 80%;
    margin: 0 auto;
    transform: rotate(90deg)
        translateY(225px)
        translateX(100px)
        rotateX(180deg);
}

#logo-up {
    display: block;
    width: 80%;
    margin: 0 auto;
    transform: rotate(90deg)
        translateY(-225px)
        translateX(551px);
}