:root {
  --primary-color: white;
  --secondary-color: #3760ad;
}

body {
  max-width: 300px;
}

header img {
  width: 100%;
}

main {
  text-align: center;
}

footer {
  display: grid;
  /* background-color: var(--secondary-color); */
  grid-template-columns: repeat(3, 1fr);
  color: var(--primary-color);
  gap: 2px;
}

footer div {
  background-color: var(--secondary-color);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
  /* border-left: 2px solid var(--primary-color); */
}

footer div p {
  text-align: center;
  margin: 0;
  /*line-height: 0.1em;*/
}

footer div p sup {
  transform: translateY(2px);
}

.prim {
  font-size: medium;
  letter-spacing: -0.05em;
}
