body {
    margin: 0;
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heading {
    grid-row: 1;
    grid-column: 1/3;
    z-index: 1;
    text-align: center;
    font-size: 14em;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.cherry {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}

.sub {
    width: 100%;
    background-color: darkgray;
    grid-row: 1;
    grid-column: 2;
    font-size: 8em;
    font-weight: bold;
    color: rgb(176, 0, 0);
    text-align: center;
    letter-spacing: 0.2em;
    padding-top: 70%;
}